<div class="social">

    <a href="/about">
        <img src="https://cf.jare.io/?u=http://www.alayor.com/assets/images/alonso.png"
             class="photo" alt="Alonso A. Ortega">
        <br/>
    </a>

    <a href="https://www.youtube.com/channel/UCth8ee9ij3OgwawXzf_VpKw" title="My Youtube channel" target="_blank">
        <i class="fa fa-youtube"></i>
    </a>

    <a href="https://twitter.com/{{ site.twitter_username }}" title="My Twitter profile" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>

    <a href="https://github.com/{{ site.github_username }}" title="My Github profile" target="_blank">
        <i class="fa fa-github"></i>
    </a>

    <a href="https://linkedin.com/in/{{ site.linkedin_username }}" title="My LinkedIn profile" target="_blank">
        <i class="fa fa-linkedin"></i>
    </a>

    <a href="https://www.toptal.com/resume/alonso-ayala-ortega#get-ridiculous-contractors-today" title="My Toptal profile" target="_blank">
        <img src="https://cf.jare.io/?u=http://www.alayor.com/assets/images/toptal.jpg" height="18px" width="14px" alt="Toptal profile"/>
    </a>

    <a href="https://angel.co/{{ site.angellist_username }}" title="My AngelList profile" target="_blank">
        <i class="fa fa-angellist"></i>
    </a>

    <a href="https://stackoverflow.com/users/3800170/{{ site.stackoverflow_username }} "
       title="My StackOverflow profile" target="_blank">
        <i class="fa fa-stack-overflow"></i>
    </a>

    <a href="mailto:alayor3@gmail.com" title="alayor3@gmail.com" target="_blank">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
</div>
